[submodule "peda"]
	path = peda
	url = https://github.com/longld/peda.git
[submodule "vim/.vim/bundle/Latex-Text-Formatter"]
	path = vim/.vim/bundle/Latex-Text-Formatter
	url = https://github.com/vim-scripts/Latex-Text-Formatter.git
[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/.vim/bundle/minibufexpl.vim"]
	path = vim/.vim/bundle/minibufexpl.vim
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "vim/.vim/bundle/vim-makegreen"]
	path = vim/.vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "vim/.vim/bundle/TaskList.vim"]
	path = vim/.vim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/.vim/bundle/vim-git"]
	path = vim/.vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/.vim/bundle/gundo.vim"]
	path = vim/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/.vim/bundle/ropevim"]
	path = vim/.vim/bundle/ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/.vim/bundle/spec.vim"]
	path = vim/.vim/bundle/spec.vim
	url = https://github.com/vim-scripts/spec.vim.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/vim-javascript-syntax"]
	path = vim/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/.vim/bundle/JavaScript-Indent"]
	path = vim/.vim/bundle/JavaScript-Indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "vim/.vim/bundle/tern_for_vim"]
	path = vim/.vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "vim/.vim/bundle/javascript-libraries-syntax.vim"]
	path = vim/.vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "vim/.vim/bundle/vim-nodejs-complete"]
	path = vim/.vim/bundle/vim-nodejs-complete
	url = https://github.com/ahayman/vim-nodejs-complete.git
[submodule "vim/.vim/bundle/lint.vim"]
	path = vim/.vim/bundle/lint.vim
	url = https://github.com/joestelmach/lint.vim.git
[submodule "vim/.vim/bundle/jade.vim"]
	path = vim/.vim/bundle/jade.vim
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-latex"]
	path = vim/.vim/bundle/vim-latex
	url = https://github.com/lervag/vim-latex.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-instant-markdown"]
	path = vim/.vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/.vim/bundle/vim-gocode"]
	path = vim/.vim/bundle/vim-gocode
	url = git@github.com:Blackrush/vim-gocode.git
